@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'neoris-regular';
  src: url('./fonts/TTNeorisRegular.ttf');
}
@font-face {
  font-family: 'montserrat-subrayada-bold';
  src: url('./fonts/MontserratSubrayada-Bold.ttf');
}
@font-face {
  font-family: 'neoris-semibold';
  src: url('./fonts/TTNeorisDemiBold.ttf');
}

body {
    font-family: 'neoris-regular';
    background-color: black;
}

.glow-text {
  text-shadow: 0 0 10px rgba(168, 161, 142, 0.8);
}

.counter{
  font-family: 'montserrat-subrayada-bold';
}
.rulesInfo, .aboutUsData{
  font-family: 'neoris-regular';
}
.sec-heading{
  font-family: 'montserrat-subrayada-bold';
}

.sec-text{
  font-family: 'neoris-regular'
}

h1, h2, h3 {
    font-family: 'neoris-semibold';
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}